[package]
name = "snippets"
version = "0.7.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = "1"
textwrap = "0.16"
