/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4599ff;
  --ifm-color-primary-dark: #1361bf;
  --ifm-color-primary-darker: #0d51a3;
  --ifm-color-primary-darkest: #073d7d;
  --ifm-color-primary-light: #61a9ff;
  --ifm-color-primary-lighter: #82bbff;
  --ifm-color-primary-lightest: #a6ceff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 'Saira';
}

[data-theme='light'] .hero {
  background-color: #f5f9ff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c0e4fc;
  --ifm-color-primary-dark: #85ceff;
  --ifm-color-primary-darker: #69c3ff;
  --ifm-color-primary-darkest: #379bde;
  --ifm-color-primary-light: #d4eeff;
  --ifm-color-primary-lighter: #e0f3ff;
  --ifm-color-primary-lightest: #edf7fc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
[data-theme='dark'] .featureSvg {
  filter: invert(100%);
}
