name: check-repo

on:
  workflow_call:
    inputs:
      check-release-examples:
        default: true
        type: boolean

env:
    CARGO_TERM_COLOR: always

jobs:
  check-root-workspace:
    name: check-root-workspace
    uses: ./.github/workflows/check-workspace.yml
    with:
      workspace_path: .
      locked: true
  check-release-examples-workspace:
    if: ${{ inputs.check-release-examples }}
    name: check-release-examples-workspace
    uses: ./.github/workflows/check-workspace.yml
    with:
      workspace_path: examples/release
  check-docs:
    name: check-docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@cargo-hack
      - uses: Swatinem/rust-cache@v2
        with:
          cache_on_failure: true
      - name: Check docs
        run: |
          cargo hack --all rustdoc --all-features
        env:
          RUSTFLAGS: '-D warnings'
          RUSTDOCFLAGS: '-D warnings'
  check-docs-site:
    name: check-docs-site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: 'yarn'
          cache-dependency-path: docs/docusaurus/yarn.lock
      - run: yarn install
        working-directory: docs/docusaurus
      - run: yarn build
        working-directory: docs/docusaurus

