name: deploy-api-docs

on:
  workflow_call:
    inputs:
      name:
        type: string
  workflow_dispatch:
    inputs:
      name:
        type: string

env:
    CARGO_TERM_COLOR: always

jobs:
  deploy-api-docs:
    name: Deploy API documentation
    runs-on: ubuntu-latest
    environment: docs
    steps:
      - uses: actions/checkout@v4
      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        id: toolchain
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ steps.toolchain.outputs.cachekey }}
          workspaces: |
            ${{ inputs.workspace_path }}
          cache_on_failure: true
      - uses: superfly/flyctl-actions/setup-flyctl@master
        with:
          version: 0.3.66
      - run: ./build.sh . ${{ inputs.name || github.ref_name }}
        working-directory: docs/api
      - uses: actions/checkout@v4
        with:
          ref: refs/tags/release
      - run: ./build.sh . release
        working-directory: docs/api
      - run: flyctl deploy --remote-only --detach
        working-directory: docs/api
        env:
          FLY_ACCESS_TOKEN: ${{ secrets.FLY_API_TOKEN_API }}
