name: tag-release

on:
  pull_request_target:
    types: [labeled]
    branches: [main]
  workflow_call:
  pull_request:

permissions:
  contents: write

jobs:
  tag-release:
    name: Tag Release
    runs-on: ubuntu-latest
    if: "${{ github.event.label.name == 'autorelease: merged' }}"
    steps:
      - uses: actions/github-script@v8
        with:
          script: |
            github.rest.git.updateRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/release',
              sha: context.sha
            })
